<div class="main-media-wrapper">
    <div class="main-media-inner">
        <picture class="picture">
            <img class="main-image" src="https://images.printify.com/api/catalog/65df359a5d428f02700b9a82?s=520" alt="">
        </picture>
    </div>
</div>
<div class="thumbnail-carousel-wrapper">
    <div id="carouselExample" class="thumbnail-carousel carousel-horizontal">
        <div class="carousel slide">
            <div class="items ink-grid">
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                <div class="thumbnail-item ink-col">
                    <div class="carousel-item thumbnail-item-inner active">
                        <img class="thumbnail-image"
                            src="https://images.printify.com/api/catalog/65e05b6307c0742d850cdd73?s=220"
                            title="Unisex Jersey Short Sleeve Tee - Thumbnail Image"
                            alt="Unisex Jersey Short Sleeve Tee - Thumbnail Image">
                    </div>
                </div>
                
            </div>
        </div>
        <div class="menu">
            <div class="menu-button">
                <button class="button icon-only-button secondary small carousel-control-prev" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <div class="custom-content">
                        <i title="Scroll to previous page" class="material-icons menu-icon notranslate">chevron_left</i>
                    </div>
                </button>
            </div>
            <div class="menu-button">
                <button class="button icon-only-button secondary small carousel-control-next" data-bs-target="#carouselExample" data-bs-slide="next">
                    <div class="custom-content">
                        <i title="Scroll to previous page" class="material-icons menu-icon notranslate">chevron_right</i>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>