<button class="header large" aria-label="accordion-header-secondary-cdk-accordion-child-0" (click)="onToggle()">
    <h4 class="title">About</h4>
    <i class="material-icons">{{keyboard_icon}}</i>
</button>
<div role="region" id="accordion-body-cdk-accordion-child-0" aria-labelledby="accordion-header-cdk-accordion-child-0">
    <div class="content" [ngStyle]="styles">
        This classic unisex jersey short sleeve tee fits like a well-loved favorite. Soft cotton and quality print make
        users fall in love with it over and over again. These t-shirts have-ribbed knit collars to bolster shaping. The
        shoulders are tapered for a better fit over time. Dual side seams hold the garment's shape for longer.
    </div>
</div>