<app-nav></app-nav>

<div style="margin-bottom: 30px;"></div>

<div class="container">
    <a style="color: green;">Catalog</a>/<span>Print providers</span>
    <h1 class="title">Print providers</h1>
    <div class="button-container">
        <button class="but2">All locations</button>
        <button class="but1">Australia</button>
        <button class="but1">Canada</button>
        <button class="but1">All locations1</button>
        <button class="but1">All locations2</button>
        <button class="but1">All locations3</button>
        <button class="but1">All locations4</button>
        <button class="but1">All locations5</button>
        <button class="but1">All locations6</button>
        <button class="but1">All locations7</button>
        <button class="but1">All locations8</button>
        <button class="but1">All locations9</button>
        <button class="but1">All locations14</button>
        <button class="but1">All locations11</button>
    </div>

    <div class="se">
        <div class="company-info">
            <span><img
                    src="https://printify.com/cdn-cgi/image/width=70,quality=100,format=avif/https://images.printify.com/api/catalog/61ee6bfb006c5313d36021be.jpg"
                    alt=""></span>
            <h4>Acrylic Idea Factory</h4>
        </div>
        <p> Company is a family owned business established in 1948. Today,
            the print provider is known as the leader in acrylic manufacturing for
            the awards, signage and photo industries. We are a world-wide fabricator
            with facilities in the U.S., Mexico and Vietnam. Our mission is:
            To provide our clients and their customers with the best acrylic products,
            the best value and best customer service across all the industries we serve! </p>
        <p>
            <span style="color: #9fa4a5;"> 5 products </span>
            <span style="color: #9fa4a5;"> • Fulfilled in United States </span>
        </p>
    </div>


    <div class="se">
        <div class="company-info">
            <span><img
                    src="https://printify.com/cdn-cgi/image/width=70,quality=100,format=avif/https://images.printify.com/api/catalog/59b64a07b8e7e3626938da71.jpg"
                    alt=""></span>
            <h4>Acrylic Idea Factory</h4>
        </div>
        <p> Company is a family owned business established in 1948. Today,
            the print provider is known as the leader in acrylic manufacturing for
            the awards, signage and photo industries. We are a world-wide fabricator
            with facilities in the U.S., Mexico and Vietnam. Our mission is:
            To provide our clients and their customers with the best acrylic products,
            the best value and best customer service across all the industries we serve! </p>
        <p>
            <span style="color: #9fa4a5;"> 5 products </span>
            <span style="color: #9fa4a5;"> • Fulfilled in United States </span>
        </p>
    </div>


    <div class="se">
        <div class="company-info">
            <span><img
                    src="https://printify.com/cdn-cgi/image/width=70,quality=100,format=avif/https://images.printify.com/api/catalog/59b64a07b8e7e3626938da71.jpg"
                    alt=""></span>
            <h4>Acrylic Idea Factory</h4>
        </div>
        <p> Company is a family owned business established in 1948. Today,
            the print provider is known as the leader in acrylic manufacturing for
            the awards, signage and photo industries. We are a world-wide fabricator
            with facilities in the U.S., Mexico and Vietnam. Our mission is:
            To provide our clients and their customers with the best acrylic products,
            the best value and best customer service across all the industries we serve! </p>
        <p>
            <span style="color: #9fa4a5;"> 5 products </span>
            <span style="color: #9fa4a5;"> • Fulfilled in United States </span>
        </p>
    </div>


    <div class="se">
        <div class="company-info">
            <span><img
                    src="https://printify.com/cdn-cgi/image/width=70,quality=100,format=avif/https://images.printify.com/api/catalog/59b64a07b8e7e3626938da71.jpg"
                    alt=""></span>
            <h4>Acrylic Idea Factory</h4>
        </div>
        <p> Company is a family owned business established in 1948. Today,
            the print provider is known as the leader in acrylic manufacturing for
            the awards, signage and photo industries. We are a world-wide fabricator
            with facilities in the U.S., Mexico and Vietnam. Our mission is:
            To provide our clients and their customers with the best acrylic products,
            the best value and best customer service across all the industries we serve! </p>
        <p>
            <span style="color: #9fa4a5;"> 5 products </span>
            <span style="color: #9fa4a5;"> • Fulfilled in United States </span>
        </p>
    </div>


    <div class="se">
        <div class="company-info">
            <span><img
                    src="https://printify.com/cdn-cgi/image/width=70,quality=100,format=avif/https://images.printify.com/api/catalog/59b64a07b8e7e3626938da71.jpg"
                    alt=""></span>
            <h4>Acrylic Idea Factory</h4>
        </div>
        <p> Company is a family owned business established in 1948. Today,
            the print provider is known as the leader in acrylic manufacturing for
            the awards, signage and photo industries. We are a world-wide fabricator
            with facilities in the U.S., Mexico and Vietnam. Our mission is:
            To provide our clients and their customers with the best acrylic products,
            the best value and best customer service across all the industries we serve! </p>
        <p>
            <span style="color: #9fa4a5;"> 5 products </span>
            <span style="color: #9fa4a5;"> • Fulfilled in United States </span>
        </p>
    </div>
</div>