.img-fluid {
    border-radius: 100px;
    height: 150px;
}


.p1 {
    font-weight: bold;
}

.cu {
    text-align: center;
    padding-top: 12px;
    padding-right: 0px;
}

.search-bar input {

    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 25px;
    padding-left: 30px;
}

.banner {
    background-image: url('https://seo-panel.printify.com/uploads/Catalog_Tik_Tok_Integration_17db4049ce.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0;
    text-align: left;
    margin-bottom: 50px;
    width: 1104px;
    height: 346px;
}

.banner-overlay {

    padding: 10px 10px;
}


.carousel-item img {
    max-height: 200px;
    object-fit: cover;
    border-radius: 100px;

}

@media (min-width: 576px) {
    .carousel-mobile {
        display: none;
    }

}

@media (max-width: 575.98px) {
    .grid-desktop {
        display: none;
    }
}

.position-relative {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-select {
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 2px;

}

.na {
    border-bottom: 1px solid #e3e4e5;
    background-color: #fff;
    display: block;
}

.custom-border {
    border: 1px solid #000;
    border-radius: 5px;
    height: 50px;
}

.custom-button {
    font-size: 1.25rem;
    font-weight: bold;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.img-fluid {
    width: 100%;
    display: block;
}

.new-button {
    position: absolute;
    bottom: 1px;
    /* Adjust the position as needed */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    z-index: 1;
    padding: 0.5rem 1rem;
    /* Adjust button padding */
    font-size: 0.75rem;
    /* Adjust button font size */
    color: #1e5180;
    background-color: #e1eff9;
}

.p1 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px
}