.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(181, 178, 178);
    margin-bottom: 20px;
    /* Khoảng cách với các phần tử khác */
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* Cho phép các mục trên navbar wrap xuống dòng mới nếu cần */
}

.nav-list li {
    margin-right: 20px;
}

.nav-list .logo {
    margin-right: auto;
    /* Đẩy logo về bên trái */
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar-toggler .navbar-toggler-icon {
    background-color: green;
    border-radius: 5px;
    /* Thay đổi màu sắc thành đen */
}

.nav-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn {
    background-color: white;
    color: black;
    margin-right: 10px;

}

.signup-btn {
    background-color: #28a745;
    color: #fff;
    margin-right: 400px;
}

.nav-list li {
    margin-right: 5rem;
    /* Sử dụng giá trị margin cố định */
}

.signup-btn {
    margin-right: 1rem;
    /* Sử dụng giá trị margin cố định */
}





.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.img-fluid {
    border-radius: 100px;
    /* Thay đổi giá trị này để điều chỉnh độ bo tròn */
    height: 180px;
}

.custom-indent {
    margin-left: 80px;
    /* Thay đổi giá trị này để điều chỉnh độ thụt vào */
}

.custom {
    margin-left: 60px;
}

.p1 {
    font-weight: bold;
}

.fixed-top {
    background-color: white;
    /* Màu nền của menu cố định */
    height: 60px;
    /* Chiều cao của menu cố định */

}

.search-select {
    margin-left: 20px;
    margin-top: 15px;
}

.search-bar input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.banner {
    background-image: url('https://seo-panel.printify.com/uploads/Catalog_Tik_Tok_Integration_17db4049ce.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: left;
    margin-bottom: 50px;
}

.banner-overlay {

    padding: 10px 10px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        /* Đảm bảo navbar chuyển sang layout dọc khi kích thước màn hình nhỏ hơn */
    }

    .nav-list {
        margin-top: 10px;
        /* Khoảng cách giữa logo và các mục trên navbar khi chuyển sang layout dọc */
    }

    .nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
        /* Khoảng cách giữa các mục trên navbar khi chuyển sang layout dọc */
    }

    .nav-buttons {
        margin-top: 10px;
        /* Khoảng cách giữa các mục trên navbar khi chuyển sang layout dọc */
    }

    .navbar-brand {
        margin-left: 20px;
        /* Điều chỉnh lại margin-left cho logo */
    }

    .navbar-toggler {
        margin-left: 20px;
        /* Điều chỉnh lại margin-left cho nút toggle */
    }
}