* {
  font-weight: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: -0.014em;
  font-family: CerebriSans, sans-serif;
}

.header {
  padding: var(--block-padding-y) var(--block-padding-x);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-text {
  font-size: 0.875em;
  line-height: 1.25rem;
  font-weight: 400;
  color: #17262b;
}

.heading .small-text {
  font-size: 0.875em;
}

@media (min-width: 600px) {
  h5,
  .text-ms {
    font-size: 1.25em;
    line-height: 2rem;
  }
}

.heading .title .name {
  display: block;
  font-size: 1.5em;
}

.badges {
  display: flex;
  gap: 0.5rem;
}

.details {
  padding: var(--block-padding-y) var(--block-padding-x);
  display: grid;
  gap: 2.5rem;
  border-top: 1px solid #e3e4e5;
}

.details-price {
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  padding: var(--block-padding-y) var(--block-padding-x);
  gap: 2.5rem;
}

@media (min-width: 600px) {
  .details:not(.strict-grid) {
    grid-auto-columns: auto;
    grid-auto-flow: column;
  }
}

.detail-title {
  margin-bottom: 0.5rem;
  white-space: nowrap;
  color: #485256;
}

.price-from {
    font-weight: 700;
    font-size: 1em;
}

.price.underline:not(.no-underline), .underline {
  cursor: help;
  -webkit-text-decoration: underline dashed;
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.price {
    display: inline;
    font-weight: 700;
    font-size: 1.25em;
}

@media (min-width: 960px) {
    .detail-fulfillment, .price {
        white-space: nowrap;
    }
}

@media (min-width: 600px) {
    .margin-top-xs {
        margin-top: .5em;
    }
}

.small-text {
    font-size: .875em;
    line-height: 1.25rem;
    font-weight: 400;
    color: #17262b;
}

.price-with-premium {
    color: #29ab51;
    white-space: wrap;
}

.detail-title {
    margin-bottom: .5rem;
    white-space: nowrap;
    color: #485256;
}

.detail-shipping .detail-title {
    width: -moz-fit-content;
    width: fit-content;
}

.details {
  padding: var(--block-padding-y) var(--block-padding-x);
  display: grid;
  gap: 2.5rem;
  border-top: 1px solid #e3e4e5;
}

.details-options {
  gap: 1rem;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .details.strict-grid {
      grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  }
}

@media (min-width: 1168px) {
  .details.strict-grid {
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
  }
}

@media (max-width: 599px) {
  .detail-areas, .detail-colors {
      display: none;
  }
}

.details .detail-item {
  flex: 1;
}

.detail-content:not(.no-underline), .underline {
  cursor: help;
  -webkit-text-decoration: underline dashed;
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.detail-production .detail-content {
  -webkit-text-decoration: underline dashed;
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
}

.details-options .detail-colors {
  flex: unset;
  flex-basis: 160px;
}

.colors-container {
  max-width: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.option-color {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border-radius: 50%;
}

.colors-container .option-color {
  vertical-align: middle;
}

.col {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 1px;
  flex-basis: 0;
  flex-grow: 1;
}

.buttons {
  padding: var(--block-padding-y) var(--block-padding-x);
  display: flex;
  align-items: center;
}

.button-start-designing {
  width: 100%;
  flex: 1;
}

.mobile-drawer {
  padding: var(--block-padding-y) var(--block-padding-x);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #e3e4e5;
}

@media (min-width: 600px) {
  .mobile-drawer {
      display: none;
  }
}

.mobile-drawer .drawer {
  margin-bottom: 0;
  max-height: 0;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  transition: all .3s ease-in;
}

.mobile-drawer .drawer--open {
  margin-bottom: var(--block-padding-y);
  max-height: 1000px;
}