<div id="ChoiceCard" class="header">
    <div class="heading">
        <div class="title">
            <h5 class="name">Printify Choice</h5>
        </div>
        <p class="small-text">The best available option based on price, quality, and speed.</p>
    </div>
    <div class="badges">
        <app-badge class="no-underline"></app-badge>
        <app-badge class="no-underline"></app-badge>
    </div>
</div>
<dl class="details details-price with-premium-price">
    <div class="detail-item detail-price">
        <dt class="detail-title">Price</dt>
        <dd style="visibility: visible;">
            <span class="price-from">From</span>
            <span class="price"> USD 8.67 </span>
            <p class="price-with-premium small-text margin-top-xs"> From USD 6.92 with Printify Premium </p>
        </dd>
    </div>
    <div class="detail-item detail-shipping ng-star-inserted">
        <dt class="detail-title">Shipping</dt>
        <dd style="visibility: visible;">
            <span class="price-from">From</span>
            <span class="price underline">
                <span class="min-shipping"> USD 3.99 </span>
            </span>
        </dd>
    </div>
</dl>
<dl class="details details-options strict-grid">
    <div class="detail-item detail-production">
        <div class="mobile-col">
            <dt class="detail-title small-text">Production time</dt>
            <dd class="detail-content"> <1.0 day </dd>
        </div>
    </div>
    <div class="detail-item detail-areas">
        <dt class="detail-title small-text">Print areas • 2</dt>
        <dd>
            <span>Front side, </span>
            <span>Back side</span>
        </dd>
    </div>
    <div class="detail-item detail-colors detail-item-wide">
        <dt class="detail-title small-text">Colors • 43</dt>
        <dd class="colors-container">
            <app-option-color class="option-color"></app-option-color>
        </dd>
    </div>
</dl>
<div class="buttons col">
    <app-link class="button primary-button button-start-designing"></app-link>
</div>
<dl class="mobile-drawer">
    <div class="drawer">        
    </div>
</dl>